#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Add any App-specific styles here that don't fit in global index.css or specific components */